
bin/
obj/


*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user


ScaffoldingReadMe.txt


.vscode/


*.log


**/secrets.json


**/tmp/


.idea/
*.sln.iml


.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/


.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dataSources.local.xml


.idea/httpRequests/


.idea/log/
.idea/.idea.Rider*
.idea/usage.statistics.xml


.idea/runConfigurations/

.vs/

**/TestResults/

Thumbs.db
ehthumbs.db
Desktop.ini


.DS_Store
.AppleDouble
.LSOverride
